{% extends 'base.html.twig' %}

{% block title %}Hello DefaultController!{% endblock %}

{% block body %}
    <style>
        .example-wrapper {
            margin: 1em auto;
            max-width: 800px;
            width: 95%;
            font: 18px/1.5 sans-serif;
        }

        .example-wrapper code {
            background: #F5F5F5;
            padding: 2px 6px;
        }
    </style>

    <form action="{{ path("add-subscriber") }}" class=" col-xs-2 " style="position: fixed" method="post" >
        <div class="input-group">

            <input id="email" type="text" class="form-control" name="email" placeholder="Email">
            <input class="form-control btn btn-success" value="Subscribe" type="submit">
        </div>
    </form>
    <div class="example-wrapper">
        {#{{ dump(posts) }}#}
        {% for post in posts %}
            <div class="well">
                <h2 class="well">{{ post.title }}</h2>
                <h4 class="well well-sm">{{ post.subtitle }}</h4>
                <p>{{ post.body }}</p>
                <h5>Posted by <strong>{{ post.owner }}</strong></h5>
                {% if app.user %}
                    <a class="btn btn-default" href="{{ path("edit_post", {id: post.id }) }}">Edit</a>
                    <a class="btn btn-danger" href="{{ path("delete-post", {id: post.id     }) }}" >Delete</a>
                {% endif %}
                {#{{ dump(post) }}#}

            </div>
        {% endfor %}
    </div>
{% endblock %}
